@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
}

h2 {
    font-size: 42px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

h5 {
    font-size: 18px;
    font-weight: 700;
}

h3 {
    font-size: 26px;
    font-weight: 700;
}

p {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #AFADB5;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.header {
    width: 100%;
    height: 120px;
    border: 0 0 2px 0;
    border-bottom: 2px solid #F3F3F3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-left {
    width: 130px;
    height: 42px;
    position: absolute;
    top: 39px;
    left: 100px;
    display: flex;
    gap: 12px;
}

.header-left span:first-child {
    width: 42px;
    height: 42px;
}

.header-left span:last-child {
    width: 76px;
    height: 18px;
    color: #151411;
    font-weight: bold;
    font-size: 18px;
}

.navbar {
    width: 461px;
    height: 32px;
    position: absolute;
    top: 44px;
    left: 490px;
    display: flex;
    gap: 60px;
}

.navbar a {
    color: black;
    font-size: 15px;
}

.header .icon span:first-child {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 45px;
    left: 1256px;
}

.header .icon span:last-child {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 45px;
    left: 1310px;
}

.header-2 {
    width: 287px;
    height: 83px;
    position: absolute;
    top: 222px;
    left: 580px;
    border: 1px;
}

.header-2 h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 83px;
    text-align: center;
}

.content {
    width: 600px;
    height: 64px;
    position: absolute;
    top: 325px;
    left: 419px;
    text-align: center;
}

.bg-content {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 433px;
}

.bg-content .content-1 {
    width: 453px;
    height: 195px;
    position: absolute;
    top: 250px;
    left: 132px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.bg-content .content-1 .button {
    width: 93px;
    height: 41px;
    border-radius: 16px;
    padding: 8px 16px 6px 16px;
    display: flex;
    gap: 10px;
    background-color: #518581;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 25px;
}

.bg-content h2 {
    line-height: 57px;
    color: #FFFFFF;
}

.bg-content h3 {
    line-height: 31px;
    color: #FFFFFF;
}

.bg-content .icon-1 {
    width: 52px;
    height: 52px;
    background-color: #15141199;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 335px;
    left: 40px;
}

.bg-content .icon-2 {
    width: 52px;
    height: 52px;
    background-color: #15141199;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 335px;
    left: 1265px;
}

.search {
    width: 1030px;
    height: 84px;
    position: absolute;
    top: 987px;
    left: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.search-left {
    width: 191px;
    height: 32px;
    display: flex;
    gap: 18px;
    position: absolute;
    left: 12px;
}

.search .search-right {
    width: 170px;
    height: 54px;
    background-color: #518581;
    position: absolute;
    right: 12px;
}

.search .button {
    width: 138px;
    height: 54px;
    background-color: #518581;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 23px;
}

.filter {
    width: 190px;
    height: 84px;
    background-color: #FFFFFF;
    position: absolute;
    top: 987px;
    left: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.filter p {
    color: black;
    font-size: 18px;
}

.heading-1 {
    width: 356px;
    height: 57px;
    position: absolute;
    top: 1121px;
    left: 100px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.heading-1 h2 {
    font-size: 44px;
    line-height: 57px;
}

.heading-1 h6 {
    font-size: 16px;
    line-height: 20px;
    color: #518581;
}

.sort-by {
    width: 139px;
    height: 50px;
    position: absolute;
    top: 1121px;
    left: 1180px;
    border: 1px solid #F9F9F9;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.sort-by p {
    color: #151411;
}

.contaiter {
    width: 100%;
    height: 1692px;
    position: absolute;
    top: 1228px;
    background-color: aqua;
}

.transfer {
    width: 296px;
    height: 42px;
    position: absolute;
    top: 3000px;
    left: 572px;
    display: flex;
    gap: 10px;
}

.transfer a {
    background-color: #F9F9F9;
    width: 38px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.transfer a:hover {
    background-color: #518581;
}

.footer {
    width: 100%;
    height: 290px;
    position: absolute;
    top: 3142px;
    left: 40px;
}

.footer .Lalasia {
    width: 130px;
    height: 42px;
    position: relative;
    top: 86px;
}

.footer .Lalasia span:last-child {
    width: 76px;
    height: 18px;
    color: #151411;
    font-weight: bold;
    font-size: 18px;
}

.footer .content-2 {
    width: 505px;
    height: 164px;
    position: absolute;
    top: 164px;
}

.footer .content-2 p {
    color: #151411;
}

.table {
    position: absolute;
    left: 950px;
    font-size: 14px;

}

th, td {
    padding: 10px;
    text-align: left;
  }